@import "/Fonts/fonts.css";

html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	color: whitesmoke;
	background-color: #222222;
	font-family: 'Roboto Slab', serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-family: 'SCHABO Condensed', sans-serif;
	font-size: 17pt;
	font-style: italic;
	text-transform: uppercase;
}

li:not(:first-child) a {
	width: 80px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' opacity='0' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cpattern id='p' width='20' height='20' patternUnits='userSpaceOnUse'%3E%3Cpath d='M -1 1 L 1 -1 M 0 20 L 20 0 M 19 21 L 21 19' stroke='%23333333' stroke-width='4' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='20' height='20' fill='%23222222'/%3E%3Crect width='20' height='20' fill='url(%23p)' opacity='1'/%3E%3C/svg%3E");
	background-repeat: repeat;
	transition: all 0.1s ease;
}

li:not(:first-child) a:hover {
	/* background-color: #111111; */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' opacity='1' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cpattern id='p' width='20' height='20' patternUnits='userSpaceOnUse'%3E%3Cpath d='M -1 1 L 1 -1 M 0 20 L 20 0 M 19 21 L 21 19' stroke='%23333333' stroke-width='4' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='20' height='20' fill='%23222222'/%3E%3Crect width='20' height='20' fill='url(%23p)' opacity='1'/%3E%3C/svg%3E");
	background-repeat: repeat;
}

li.active {
	text-decoration: underline dashed;
	text-decoration-color: white;
}

li.active:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.siteLogo {
	margin: 0;
	padding: 0;
	height: 20px;
}

main {
	padding: 20px;
}

main h1 {
	margin: 0;
	font-family: 'SCHABO Condensed', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 42pt;
	cursor: default;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	top: 0;
	left: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	backdrop-filter: blur(10px);
	cursor: default;
}

/* Modal Header */
.modal-header {
	padding: 20px;
	/* background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px); */
	color: white;
	border-radius: 20px 20px 0 0;
	font-family: 'SCHABO Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 30pt;
}

.modal-header .close {
	margin-right: 10px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s ease;
}

.modal-header .close:hover {
	opacity: 0.75;
}

/* Modal Body */
.modal-body {
	padding: 2em;
}

/* Modal Footer */
.modal-footer {
	padding: 20px 2em;
	/* background-color: #5cb85c; */
	border-radius: 0 0 20px 20px;
}

.modal-footer a {
	color: white;
	opacity: 1;
	text-decoration: none;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	padding-bottom: 0.5em;
	border-radius: 5em;
	transition: opacity 0.2s ease;
}

.modal-footer a:before,
.modal-footer a:after {
	position: absolute;
	content: "";
	border-bottom: 3px solid white;
	border-radius: 5em;
	bottom: 0.3em;
	transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-footer a:before {
	width: 1em;
	transform-origin: left;
	border-radius: 5em;
}

.modal-footer a:after {
	width: 82%;
	left: 1em;
	transform: translateX(110%);
	border-radius: 5em;
}

.modal-footer a:hover {
	opacity: 0.75;
}

.modal-footer a:hover:before {
	transform: scaleX(0.3);
	border-radius: 5em;
}

.modal-footer a:hover:after {
	transform: translateX(0);
	border-radius: 5em;
}

/* Modal Content */
.modal-content {
	position: relative;
	/* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(185, 226, 255, 0.5)); */
	background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
	backdrop-filter: blur(40px);
	margin: auto;
	padding: 0;
	/* border: 1px solid #888; */
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top: 30%;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 25px;
	color: white;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 30%;
		opacity: 1;
	}
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}